:root {
    --hovered: #611ce0;
    --primary: #8040f6;
    --dark: #444;
    --light: #f1f1f1;
}

/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--dark);
}

img {
    max-width: 100%;
    max-height: 100%;
}

#pricing {
    margin-bottom: 200px;
}

#team {
    margin-bottom: 200px;
}

/* utility classes */
.container {
    max-width: 1200px;
    margin: 10px auto;
    padding: 15px;
}

.cross-out {
    text-decoration: line-through;
}

.content-img {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.grid-container {
    display: grid;
    grid-gap: 25px;
}

.content-img {
    display: none;
    opacity: 0;
}

.cta {
    font-size: 1.1rem;
    background-color: var(--primary);
    color: var(--light);
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    transition: all 0.2s ease-in-out;
}

.cta:hover {
    background-color: var(--hovered);
}

.title {
    color: #6c63ff;
    letter-spacing: 2px;
    font-size: 2.5rem;
    text-align: center;
    margin: 5px 0 50px 0;
}

.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid #6c63ff;
}

/* landing page section */
#landing-page {
    height: 100vh;
}

#landing-page .nav-bar {
    max-width: 400px;
    height: 40px;
    margin: 0 auto;
}

#landing-page .nav-bar ul {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#landing-page .nav-bar ul li a {
    color: rgba(0, 0, 0, 0.5);
}

#landing-page .content {
    height: 100%;
    display: grid;
    align-items: center;
}

#landing-page .text-content h1 {
    margin-bottom: 30px;
    font-size: 1.8rem;
    letter-spacing: 2px;
}

#landing-page .text-content p {
    margin-bottom: 50px;
    font-size: 1rem;
    line-height: 1.5;
}

#landing-page .content-img {
    background-image: url(../images/svg/hero.svg);
    height: 100%;
    width: 100%;
}

/* pricing section */
#pricing .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 180px;
    grid-gap: 25px;
}

#pricing .price-card {
    background-color: #6c63ff;
    color: var(--light);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

#pricing .price-card:hover {
    transform: translateY(-20px);
    box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.5);
}

#pricing .price-card ul {
    list-style: disc;
}

#pricing .price-card .price {
    font-weight: bold;
    font-size: 1.5rem;
}

/* team section */
#team .grid-container {
    grid-gap: 25px;
}

#team .content {
    position: relative;
    background-color: #f1f1f1;
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-gap: 15px;
    flex-direction: column;
    align-content: center;
    justify-items: center;
    border-radius: 10px;
}

#team .content .title {
    padding: 15px;
    background-color: inherit;
    position: absolute;
    top: -70px;
    border-radius: inherit;
}

#team figure {
    color: var(--dark);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#team figure .name,
#team figure .position {
    font-weight: 700;
    margin: 2px 0;
}

#team figure .position {
    font-size: 13px;
}

#team .content-img {
    background-image: url(../images/svg/team.svg);
}

/* consultation section */
#consultation form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#consultation form .form-group {
    margin-bottom: 30px;
    display: inline-flex;
    flex-direction: column;
}

#consultation form .form-group label {
    color: var(--dark);
}

#consultation form .form-group input {
    margin-top: 5px;
    padding: 10px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

#consultation form .form-group input:focus {
    border-color: var(--hovered);
}

#consultation .content-img {
    background-image: url(../images/svg/consult.svg);
}

/* footer */
footer {
    background-color: #f1f1f1;
    height: 150px;
}

/* media query */
/* tablet */
@media screen and (min-width: 700px) {
    .content-img {
        display: block;
        opacity: 1;
    }

    #landing-page .grid-container {
        grid-template-columns: 1fr 2fr;
        grid-gap: 25px;
    }

    #pricing .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-auto-rows: 400px;
        justify-items: space-around;
    }

    #team .grid-container {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
        grid-gap: 25px;
    }

    #consultation .grid-container {
        grid-template-columns: 2fr 1fr;
    }
}

/* desktop and laptop */
@media screen and (min-width: 900px) {
}
